:root {
  --red: #a00;
  --black: #000;
  --night: #141414;
  --snow: #faf2f0;
  --swiper-theme-color: #a00;
}
* {
  font-family: "Share Tech", sans-serif;
  box-sizing: border-box;
}
@font-face {
  font-family: "OCR A Extended";
  src: url(/assets/fonts/OCRAExtended.eot);
  src: url(/assets/fonts/OCRAExtended.eot?#iefix) format("embedded-opentype"),
    url(/assets/fonts/OCRAExtended.woff2) format("woff2"),
    url(/assets/fonts/OCRAExtended.woff) format("woff"),
    url(/assets/fonts/OCRAExtended.ttf) format("truetype"),
    url(/assets/fonts/OCRAExtended.svg#OCRAExtended) format("svg");
  font-weight: 400;
  font-style: normal;
}
#body-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 70px);
  background: #a00;
  background: linear-gradient(
    180deg,
    rgba(170, 0, 0, 1) 0%,
    rgba(174, 21, 21, 1) 30%,
    rgba(77, 9, 9, 1) 65%,
    rgba(0, 0, 0, 1) 100%
  );
}
.card-image {
  width: 100%;
}
.card-title {
  color: var(--snow);
  text-align: center;
  margin-bottom: 15px;
}
.btns-links {
  width: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
.slider-wrapper {
  overflow: hidden;
  max-width: 1200px;
  margin: 0 70px 55px;
}
.card-list .card-item .card-image {
  /* border-radius: 4px;
  border: 3px solid #a00;
  padding: 2px; */
  transition: 0.5s ease;
}
.card-list .card-item .card-image:hover {
  width: calc(70% + 20px);
}
.card-list .card-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  user-select: none;
  padding: 15px 5px 15px 5px;
  border-radius: 8px;
  color: var(--snow);
  background-color: rgba(250, 242, 240, 0.2);
  border: 1px solid rgba(250, 242, 240, 0.5);
  backdrop-filter: blur(4px);
}
#card-button {
  width: 35px;
  height: 35px;
  background-color: var(--red);
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 14px;
  transition: 0.4s ease;
}
#card-button:hover {
  background-color: var(--snow);
}
.slider-wrapper .swiper-pagination-bullet {
  height: 15px;
  width: 15px;
  background-color: var(--snow);
}
.slider-wrapper .swiper-slide-button {
  margin-top: -50px;
  color: var(--snow);
  transition: 0.2s ease;
}
.slider-wrapper .swiper-slide-button:hover {
  color: var(--night);
}
@media (max-width: 768px) {
  .slider-wrapper {
    margin: 0 10px 40px;
  }
  .slider-wrapper .swiper-slide-button {
    display: none;
  }
}
