:root {
  --red: #a00;
  --black: #000;
  --night: #141414;
  --snow: #faf2f0;
}
* {
  font-family: "Share Tech", sans-serif;
  box-sizing: border-box;
}
@font-face {
  font-family: "OCR A Extended";
  src: url(/assets/fonts/OCRAExtended.eot);
  src: url(/assets/fonts/OCRAExtended.eot?#iefix) format("embedded-opentype"),
    url(/assets/fonts/OCRAExtended.woff2) format("woff2"),
    url(/assets/fonts/OCRAExtended.woff) format("woff"),
    url(/assets/fonts/OCRAExtended.ttf) format("truetype"),
    url(/assets/fonts/OCRAExtended.svg#OCRAExtended) format("svg");
  font-weight: 400;
  font-style: normal;
}
body {
  background-color: var(--night);
}
#header {
  box-sizing: border-box;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 70px;
  background-color: var(--red);
}
#menu {
  display: flex;
  gap: 20px;
}
#menu a {
  display: block;
  padding: 0.5rem;
  color: var(--snow);
}
#btn-mobile {
  display: none;
}
@media (max-width: 999px) {
  #menu {
    display: block;
    position: absolute;
    width: 100%;
    top: 70px;
    height: 0;
    right: 0;
    background-color: var(--red);
    z-index: 1000;
    transition: 0.6s;
    visibility: hidden;
    overflow-y: hidden;
  }
  #nav.active #menu {
    padding-top: 20px;
    height: 210px;
    visibility: visible;
    transition: 0.6s;
  }
  #menu a {
    padding: 1rem 0;
    margin: 0 2rem;
    border-bottom: 2px solid var(--black);
    font-size: 14pt;
  }
  #btn-mobile {
    display: flex;
    font-size: 1rem;
    border: none;
    cursor: pointer;
    background: none;
  }
  #hamburguer {
    display: block;
    color: var(--snow);
    width: 20px;
    border-top: 2px solid;
  }
  #hamburguer::after,
  #hamburguer::before {
    width: 20px;
    height: 2px;
    background-color: currentColor;
    content: "";
    display: block;
    margin-top: 5px;
    transition: 0.6s;
    position: relative;
  }
  #nav.active #hamburguer {
    border-top-color: transparent;
  }
  #nav.active #hamburguer::before {
    transform: rotate(135deg);
  }
  #nav.active #hamburguer::after {
    transform: rotate(-135deg);
    top: -7px;
  }
}
.main-container {
  padding: 40px 50px;
}
#img-perfil {
  width: 170px;
  margin-top: 30px;
  margin-bottom: 30px;
  transition: 0.2s ease-in-out;
  animation: img-ani 2s ease 0 1 normal forwards;
}
#img-perfil:hover {
  width: 180px;
}
.imagem {
  display: flex;
  align-items: center;
  justify-content: center;
}
.main-container h1 {
  font-family: "OCR A Extended";
  color: var(--red);
  font-size: 1.625rem;
  margin-bottom: 20px;
}

.textos p {
  margin-bottom: 20px;
}
.buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.btn-main {
  box-shadow: 3px 3px 6px #ec1212;
}
.main-container p {
  color: var(--snow);
  font-size: 1rem;
}
.btn-main {
  width: 140px;
  height: 36px;
  border-radius: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--red);
}
.btn-main a {
  color: var(--snow);
}
.diamond-line {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  width: 220px;
  height: 3px;
  border-radius: 10px;
  background-color: #a00;
}
.diamond-line::before,
.diamond-line::after {
  content: "";
  position: absolute;
  top: 50%;
  width: 10px;
  height: 10px;
  background-color: #a00;
  transform: translateY(-50%) rotate(45deg);
}
.diamond-line::before {
  left: 0;
}
.diamond-line::after {
  right: 0;
}
.about-container {
  margin-top: 40px;
  margin-bottom: 40px;
  color: var(--snow);
  background-color: #a00;
  padding-left: 50px;
  padding-right: 50px;
}
.about-container p {
  padding-bottom: 30px;
}
.about-container h1 {
  padding-top: 30px;
  padding-bottom: 30px;
}
.imgs-techs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;
}
.imgs-techs img {
  width: 40px;
}
.button a {
  color: var(--snow);
}
.button {
  position: relative;
  width: 120px;
  height: 30px;
  border-radius: 10px;
  border: none;
  font-size: 1rem;
  background-color: var(--red);
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 3px 3px 6px #ec1212;
}
.btn-text {
  z-index: 2;
}
.img {
  width: 200px;
  padding-bottom: 20px;
}
#img-btn-github {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, 50%);
  z-index: 1;
}
#img-btn-link {
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 50%);
  z-index: 1;
}
.button:hover {
  background: #840303;
}
#cat-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-bottom: 40px;
}
#img-cat {
  padding-top: 40px;
  padding-bottom: 30px;
  width: 180px;
  margin: auto;
}
.dados {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 30px 50px;
}
footer p {
  font-size: 0.875rem;
  color: var(--snow);
  text-align: center;
}
#p-2 {
  margin-top: 10px;
  font-size: 0.75rem;
}
footer {
  padding-bottom: 30px;
  background-color: var(--black);
}
.container-form {
  background-color: var(--red);
  display: flex;
  align-items: start;
  justify-content: center;
  padding: 30px 50px;
  margin-top: 40px;
}
.container-form h1 {
  text-align: center;
  color: var(--snow);
  font-size: 1.8rem;
}
.container-form form {
  padding-top: 15px;
  display: flex;
  flex-direction: column;
}
.form label {
  color: var(--snow);
  padding-bottom: 10px;
  font-size: 1.2rem;
}
.form input {
  padding-left: 20px;
  width: 220px;
  height: 36px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: none;
}
.form textarea {
  padding-top: 8px;
  padding-left: 20px;
  height: 120px;
  border-radius: 10px;
  margin-bottom: 20px;
  border: none;
}
#btn-submit {
  height: 36px;
  width: 86px;
  border-radius: 6px;
  background-color: var(--black);
  border: none;
  color: var(--snow);
  font-size: 12pt;
  transition: 0.3s ease-in-out;
}
#btn-submit:hover {
  background-color: var(--snow);
  color: var(--black);
}
#container-tks {
  height: calc(100vh - 70px);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tks {
  color: var(--snow);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.tks h1 {
  padding-bottom: 20px;
}
.tks h3 {
  padding-bottom: 18px;
}
.home {
  width: 180px;
  height: 36px;
  border-radius: 10px;
  border: none;
  background-color: var(--red);
}
.home a {
  color: var(--snow);
  font-size: 1.1rem;
}
@media (min-width: 768px) {
  #container-main-textos-img {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
  .main-container p {
    font-size: 1.4rem;
  }
  .main-container h1 {
    font-size: 2.5rem;
  }
  #img-perfil {
    width: 340px;
  }
  #img-perfil:hover {
    width: 350px;
  }
  .buttons {
    margin-top: 20px;
    flex-direction: row;
    gap: 60px;
  }
  .btn-main {
    width: 200px;
    height: 44px;
  }
  .btn-main a {
    font-size: 1.03rem;
  }
  .about-container h1 {
    font-size: 1.9rem;
    display: flex;
    justify-content: center;
  }
  .container-about-me {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 180px;
  }
  .about-container {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 30px;
  }
  .about-container-textos {
    width: 380px;
    font-size: 1.1rem;
  }
  .imgs-techs img {
    width: 70px;
  }
  .imgs-techs {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
  }
  .button {
    width: 180px;
    height: 38px;
    font-size: 1.05rem;
  }
  .container-form {
    height: 660px;
    display: flex;
  }
  .form input {
    width: 300px;
  }
  .container-form h1 {
    font-size: 1.9rem;
  }
  .form textarea {
    width: 300px;
  }
  #btn-submit {
    width: 120px;
    height: 40px;
    font-size: 1.1rem;
  }
}
@keyframes img-ani {
  0% {
    animation-timing-function: ease-in;
    opacity: 0;
    transform: translateY(-250px);
  }
  38% {
    animation-timing-function: ease-out;
    opacity: 1;
    transform: translateY(0);
  }
  55% {
    animation-timing-function: ease-in;
    transform: translateY(-65px);
  }
  72% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
  81% {
    animation-timing-function: ease-in;
    transform: translateY(-28px);
  }
  90% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
  95% {
    animation-timing-function: ease-in;
    transform: translateY(-8px);
  }
  100% {
    animation-timing-function: ease-out;
    transform: translateY(0);
  }
}
